.modal {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.modalContent {
  margin: 0 auto;
  margin-top: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.modalContent h2 {
  margin: 0 0 10px;
  font-size: 20px;
}

.modalActions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modalActions button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.modalActions button:nth-child(2) {
  background-color: #ccc;
  color: #333;
}

@media screen and (max-width: 600px) {
  .modalContent {
    max-width: 100%;
  }
}
