.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 25px;
}

.form input {
  margin-bottom: 20px;
  padding: 8px;
  width: 90%;
  height: 30px;
  font-size: 25px;
}

.form button {
  padding: 8px 16px;
  color: #fff;
  background-color: #2375cd;
  border: none;
  width: 90%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}

.form button:hover {
  background-color: #0056b3;
}
