.jobListContainer {
  text-align: center;
}

.jobListHeader {
  font-size: 24px;
  margin: 20px 0;
}

.jobList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.infoBoxContainer {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.info {
  display: flex;
  align-items: center;
}

.boxColor {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.darkRed {
  background-color: darkred;
}
.lightRed {
  background-color: lightcoral;
}
.greenLight {
  background-color: lightgreen;
}
.darkGreen {
  background-color: darkgreen;
}

.searchInput {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.searchInput::placeholder {
  color: #aaa;
}

.searchInput:focus {
  border: 2px solid #000000;
  box-shadow: 0 0 5px rgba(7, 7, 7, 0.5);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.paginationButton {
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 7px;
}

.paginationButton:hover {
  background-color: #ccc;
}

.paginationButton.active {
  background-color: #000;
  color: #fff;
  border: none;
}
